*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:none;
    outline:none;
    text-decoration: none;
}

.heading{
    color:red;
}
#heading{
    color:blue;
}

h1{
    color:#000;
}